<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1012948918368-4rj59baf5id95r7t6ob5pcinrcb14j35.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1012948918368-4rj59baf5id95r7t6ob5pcinrcb14j35</string>
	<key>API_KEY</key>
	<string>AIzaSyA3gskUN9NARNPGhJ19Bcu_qpbDqVIlZwg</string>
	<key>GCM_SENDER_ID</key>
	<string>1012948918368</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.spendigo.smartcart</string>
	<key>PROJECT_ID</key>
	<string>spendigo-8540c</string>
	<key>STORAGE_BUCKET</key>
	<string>spendigo-8540c.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1012948918368:ios:a6decb43659f59f8f0a305</string>
	<key>DATABASE_URL</key>
	<string>https://spendigo-8540c-default-rtdb.firebaseio.com</string>
</dict>
</plist>