openapi: 3.0.0
info:
  title: Spendigo Marketplace API
  version: 1.2.0 (Production)
  description: |
    API for Spendigo Marketplace (Hybrid Catalog Architecture).
    Most endpoints are exposed as Firebase HTTPS/Callable functions.
servers:
  - url: https://api.spendigo.ca/v1
    description: Production Server
  - url: http://localhost:5001/spendigo-8540c/us-central1
    description: Firebase Emulator Suite

paths:
  # 🚀 SMARTCART OPTIMIZATION
  /smartcartOptimize:
    post:
      summary: Deterministic multi-store basket optimizer
      description: |
        Matches a shopping list to valid merchant inventory within proximity.
        Returns the optimized split-cart and best single-store comparison.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                shoppingList:
                  type: array
                  items:
                    type: object
                    properties:
                      id: { type: string }
                      name: { type: string }
                      quantity: { type: integer }
                stores:
                  type: array
                  items:
                    type: object
                    properties:
                      id: { type: string }
                      coordinates: { type: object }
                location:
                  type: object
                  properties:
                    lat: { type: number }
                    lng: { type: number }
      responses:
        "200":
          description: Optimization Result
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OptimizationResult'

  # 💸 PAYMENTS & SUBSCRIPTIONS
  /onboardStore:
    post:
      summary: Initiate Merchant Stripe Connect onboarding
      description: Returns a Stripe Connect account link URL.
      responses:
        "200":
          content:
            application/json:
              schema:
                properties:
                  url: { type: string }

  /createCheckoutSession:
    post:
      summary: Create a Stripe Checkout session for subscription
      requestBody:
        content:
          application/json:
            schema:
              properties:
                priceId: { type: string }
      responses:
        "200":
          content:
            application/json:
              schema:
                properties:
                  sessionId: { type: string }

  /refundOrder:
    post:
      summary: Process a refund for a specific order (Admin/Merchant)
      requestBody:
        content:
          application/json:
            schema:
              properties:
                orderId: { type: string }
                amount: { type: number }
      responses:
        "200":
          description: Refund successful

  # 📦 ORDERS
  /placeOrder:
    post:
      summary: Finalize and lock a marketplace transaction
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OrderInput'
      responses:
        "201":
          description: Order created successfully

  /downloadReceipt:
    get:
      summary: Generate and download a PDF receipt for an order
      parameters:
        - name: orderId
          in: query
          required: true
          schema: { type: string }
      responses:
        "200":
          content:
            application/pdf:
              schema: { type: string, format: binary }

  # 🛡️ ADMIN TOOLS
  /syncTrafficStats:
    post:
      summary: Aggregate and sync traffic counters to the admin dashboard
      responses:
        "200":
          description: Stats synced

  /cleanupOrphanedUsers:
    post:
      summary: Security cleanup of unverified or deleted Auth users
      responses:
        "200":
          description: Cleanup complete

components:
  schemas:
    OptimizationResult:
      type: object
      properties:
        items:
          type: array
          items:
            type: object
            properties:
              shoppingListItemId: { type: string }
              selectedStoreId: { type: string }
              lineTotal: { type: number }
        summary:
          type: object
          properties:
            totalCartCost: { type: number }
            potentialSavings: { type: number }
        recommendation:
          type: string
          enum: [optimized_multi_store, best_single_store]

    OrderInput:
      type: object
      properties:
        items:
          type: array
          items:
            properties:
              priceId: { type: string }
              quantity: { type: integer }
        deliveryAddress: { type: string }

  securitySchemes:
    FirebaseIDToken:
      type: apiKey
      in: header
      name: Authorization
      description: "Format: Bearer <ID_TOKEN>"
