openapi: 3.0.0
info:
  title: Spendigo Marketplace API
  version: 1.3.0 (Production)
  description: |
    API for Spendigo Marketplace (Hybrid Catalog Architecture).
    Most endpoints are exposed as Firebase HTTPS/Callable functions.
servers:
  - url: https://api.spendigo.ca/v1
    description: Production Server
  - url: http://localhost:5001/spendigo-8540c/us-central1
    description: Firebase Emulator Suite

paths:
  # 🚀 SMARTCART OPTIMIZATION
  /smartcartOptimize:
    post:
      summary: Deterministic multi-store basket optimizer
      description: |
        Matches a shopping list to valid merchant inventory within proximity.
        Returns the optimized split-cart and best single-store comparison.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                shoppingList:
                  type: array
                  items:
                    type: object
                    properties:
                      id: { type: string }
                      name: { type: string }
                      quantity: { type: integer }
                stores:
                  type: array
                  items:
                    type: object
                    properties:
                      id: { type: string }
                      coordinates: { type: object }
                location:
                  type: object
                  properties:
                    lat: { type: number }
                    lng: { type: number }
      responses:
        "200":
          description: Optimization Result
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OptimizationResult'

  # 👥 TEAM MANAGEMENT
  /inviteTeamMember:
    post:
      summary: Invite a new member to the merchant team
      requestBody:
        required: true
        content:
          application/json:
            schema:
              properties:
                email: { type: string }
                role: { type: string, enum: [admin, editor, viewer] }
      responses:
        "200":
          description: Invitation sent

  /removeTeamMember:
    post:
      summary: Revoke access for a team member
      requestBody:
        required: true
        content:
          application/json:
            schema:
              properties:
                userId: { type: string }
      responses:
        "200":
          description: Member removed

  # 💸 PAYMENTS & SUBSCRIPTIONS
  /onboardStore:
    post:
      summary: Initiate Merchant Stripe Connect onboarding
      description: Returns a Stripe Connect account link URL.
      responses:
        "200":
          content:
            application/json:
              schema:
                properties:
                  url: { type: string }

  /deleteUser:
    post:
      summary: Permanently delete a user account and associated data
      responses:
        "200":
          description: User deleted

  /requestAccountDeletion:
    post:
      summary: Initiate the GDPR/CCPA account deletion workflow
      responses:
        "200":
          description: Request recorded

  /createCheckoutSession:
    post:
      summary: Create a Stripe Checkout session for subscription
      requestBody:
        content:
          application/json:
            schema:
              properties:
                priceId: { type: string }
      responses:
        "200":
          content:
            application/json:
              schema:
                properties:
                  sessionId: { type: string }

  /getPaymentHistory:
    get:
      summary: Retrieve the last 12 successful subscription payments
      responses:
        "200":
          content:
            application/json:
              schema:
                type: array
                items:
                  properties:
                    date: { type: string }
                    amount: { type: number }
                    status: { type: string }

  /updateSubscriptionPlan:
    post:
      summary: Upgrade or downgrade a merchant subscription
      requestBody:
        content:
          application/json:
            schema:
              properties:
                newPriceId: { type: string }
      responses:
        "200":
          description: Plan updated

  /refundOrder:
    post:
      summary: Process a refund for a specific order (Admin/Merchant)
      requestBody:
        content:
          application/json:
            schema:
              properties:
                orderId: { type: string }
                amount: { type: number }
      responses:
        "200":
          description: Refund successful

  /cancelOrder:
    post:
      summary: Transition an order to 'Cancelled' status
      requestBody:
        content:
          application/json:
            schema:
              properties:
                orderId: { type: string }
                reason: { type: string }
      responses:
        "200":
          description: Order cancelled

  # 📦 ORDERS
  /placeOrder:
    post:
      summary: Finalize and lock a marketplace transaction
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OrderInput'
      responses:
        "201":
          description: Order created successfully

  /downloadReceipt:
    get:
      summary: Generate and download a PDF receipt for an order
      parameters:
        - name: orderId
          in: query
          required: true
          schema: { type: string }
      responses:
        "200":
          content:
            application/pdf:
              schema: { type: string, format: binary }

  # 🛡️ ADMIN TOOLS
  /getSystemHealth:
    get:
      summary: Real-time monitoring of critical platform services
      responses:
        "200":
          description: Health report

  /scrapeFlyer:
    post:
      summary: Trigger an AI-powered flyer ingestion job
      requestBody:
        content:
          application/json:
            schema:
              properties:
                url: { type: string }
                storeId: { type: string }
      responses:
        "202":
          description: Ingestion job queued

  /searchPublicDeals:
    get:
      summary: Search aggregated flyer deals across the marketplace
      responses:
        "200":
          description: Deals found

  /processIngestionJobs:
    post:
      summary: Backend worker to process pending flyer ingestions
      responses:
        "200":
          description: Jobs processed

  /cleanupOrphanedStoreData:
    post:
      summary: Database hygiene to remove dangling merchant records
      responses:
        "200":
          description: Cleanup successful

  /recordAuditEvent:
    post:
      summary: Log a forensic event to the audit ledger
      requestBody:
        content:
          application/json:
            schema:
              properties:
                event: { type: string }
                metadata: { type: object }
      responses:
        "200":
          description: Event logged

components:
  schemas:
    OptimizationResult:
      type: object
      properties:
        items:
          type: array
          items:
            type: object
            properties:
              shoppingListItemId: { type: string }
              selectedStoreId: { type: string }
              lineTotal: { type: number }
        summary:
          type: object
          properties:
            totalCartCost: { type: number }
            potentialSavings: { type: number }
        narrative:
          type: string
          description: AI-generated savings insight (Gemini 2.5 Flash)
        recommendation:
          type: string
          enum: [optimized_multi_store, best_single_store]

    OrderInput:
      type: object
      properties:
        items:
          type: array
          items:
            properties:
              priceId: { type: string }
              quantity: { type: integer }
        deliveryAddress: { type: string }

  securitySchemes:
    FirebaseIDToken:
      type: apiKey
      in: header
      name: Authorization
      description: "Format: Bearer <ID_TOKEN>"
