openapi: 3.0.0
info:
  title: Spendigo SmartCart API
  version: 1.1.0 (Beta)
  description: API for Spendigo Marketplace (Hybrid Catalog Architecture)
servers:
  - url: https://api.spendigo.ca/v1
    description: Production Server
  - url: http://localhost:3000/v1
    description: Local Dev
paths:
  /auth/login:
    post:
      summary: Authenticate user
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                email:
                  type: string
                password:
                  type: string
      responses:
        "200":
          description: JWT Token returned

  /catalog/master:
    get:
      summary: Search Master Catalog
      parameters:
        - name: query
          in: query
          schema:
            type: string
        - name: barcode
          in: query
          schema:
            type: string
      responses:
        "200":
          description: List of master products

  /stores:
    get:
      summary: List near stores (with Sponsored priority)
      parameters:
        - name: lat
          in: query
          schema:
            type: number
        - name: lng
          in: query
          schema:
            type: number
      responses:
        "200":
          description: List of stores

  /ads/active:
    get:
      summary: Get active Carousel Ads
      responses:
        "200":
          description: List of ad banners

  /cart/checkout:
    post:
      summary: Initiate Split Payment Checkout
      description: |
        Creates a PaymentIntent on Stripe with `transfer_group`.
        Calculates application fees (commission) per store.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                items:
                  type: array
                  items:
                    type: object
                    properties:
                      product_id:
                        type: string
                      quantity:
                        type: integer
      responses:
        "200":
          description: Client Secret for Stripe Elements
          content:
            application/json:
              schema:
                type: object
                properties:
                  clientSecret:
                    type: string
                  orderIds:
                    type: array
                    items:
                      type: string

  /cart/optimize:
    post:
      summary: Optimize a cart across eligible stores using SmartCart
      description: |
        Cart price-comparison endpoint. Reuses the SmartCart optimizer and returns
        the cheapest store combination without affecting existing checkout flows.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                shopping_list:
                  type: array
                  items:
                    type: string
                user_location:
                  type: object
                  properties:
                    lat:
                      type: number
                    lng:
                      type: number
                store_filter:
                  oneOf:
                    - type: array
                      items:
                        type: string
                    - type: object
                      properties:
                        store_ids:
                          type: array
                          items:
                            type: string
      responses:
        "200":
          description: Optimized cart result
          content:
            application/json:
              schema:
                type: object
                properties:
                  optimized_cart:
                    type: array
                    items:
                      type: object
                      properties:
                        product_id:
                          type: string
                        chosen_store:
                          type: string
                        price:
                          type: number
                        unit_price:
                          type: number
                  store_breakdown:
                    type: object
                    additionalProperties:
                      type: array
                      items:
                        type: string
                  total_cost:
                    type: number
                  best_single_store_option:
                    type: object
                    nullable: true
                    properties:
                      store_id:
                        type: string
                      store_name:
                        type: string
                      cart_cost:
                        type: number
                        nullable: true
                      missing_items:
                        type: array
                        items:
                          type: string
                  savings:
                    type: number
                    nullable: true

  /smartcart/optimize:
    post:
      summary: Optimize a SmartCart basket across eligible stores
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                shopping_list:
                  type: array
                  items:
                    type: string
                user_location:
                  type: object
                  properties:
                    lat:
                      type: number
                    lng:
                      type: number
                store_filter:
                  oneOf:
                    - type: array
                      items:
                        type: string
                    - type: object
                      properties:
                        store_ids:
                          type: array
                          items:
                            type: string
      responses:
        "200":
          description: Optimized SmartCart result
          content:
            application/json:
              schema:
                type: object
                properties:
                  optimized_cart:
                    type: array
                    items:
                      type: object
                      properties:
                        product_id:
                          type: string
                        chosen_store:
                          type: string
                        price:
                          type: number
                        unit_price:
                          type: number
                  store_breakdown:
                    type: object
                    additionalProperties:
                      type: array
                      items:
                        type: string
                  total_cost:
                    type: number
                  best_single_store_option:
                    type: object
                    nullable: true
                    properties:
                      store_id:
                        type: string
                      store_name:
                        type: string
                      cart_cost:
                        type: number
                        nullable: true
                      missing_items:
                        type: array
                        items:
                          type: string
                  savings:
                    type: number
                    nullable: true

  /webhooks/stripe:
    post:
      summary: Stripe Webhook Endpoint
      description: Handles `payment_intent.succeeded`, `checkout.session.completed`, etc.
      responses:
        "200":
          description: Received
